/*=============== FAVORITES ===============*/
.favorite{
   &__container{
      padding-top: 3.5rem;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem 1.5rem;
   }
   &__card{
      position: relative;
      background-color: var(--container-color);
      box-shadow: 0 12px 24px hsla(0, 0%, 0%, .3);
      padding: 6.5rem 1rem 1.25rem;
      border: 2px solid transparent;
      transition: border-color .4s;
   }
   &__img{
      width: 120px;
      position: absolute;
      top: -2rem;
      left: 0;
      right: 0;
      margin: 0 auto;
   }
   &__title{
      font-size: var(--h2-font-size);
      font-family: var(--second-font);
      color: var(--first-color);
   }
   &__subtitle{
      display: block;
      margin-bottom: .75rem;
   }
   &__price{
      font-size: var(--normal-font-size);
      font-family: var(--second-font);
   }
   &__button{
      padding: .25rem;
      font-size: 1.25rem;
      color: var(--black-color);
      position: absolute;
      bottom: 1.25rem;
      right: 1rem;
      cursor: pointer;
   }
   &__card:hover{
      border-color: var(--first-color);
   }
}